.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;

    grid-template-areas:
        "header header "
        "nav content";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;
}

.header {
    grid-area: header;
    background-color: #3f9b50;
}

.header img {
    width: 40px;
}

.nav {
    grid-area: nav;
    background-color: #3f5c9b;
}

.content {
    grid-area: content;
    background-color: #3f869b;
}


